{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_pages_styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_message.css' %}"/>
{% endblock %}
{% if user.is_authenticated %}
    {% block authorized_user_content %}
        <p>You are already logged in. Please go to <a href="{% url 'home' %}">Home Page!</a></p>
    {% endblock %}
{% else %}
    {% block title %} Login {% endblock %}
    {% block anonymous_user_content %}
        <div class="alignment">
            <h2 class="form-title">Login</h2>
            <form method='post' autocomplete="off">
                {% csrf_token %}
                <div class="username">
                    <input autocomplete="off" class="form-control" type="text" name="username" autofocus=""
                           maxlength="254"
                           id="id-username"
                           placeholder="Username" required="">
                </div>
                <div class="password">
                    <input autocomplete="off" class="form-control" type="password" name="password" id="id-password"
                           placeholder="Password" required="">
                </div>
                <button id="login-btn" type="submit" class="btn btn-primary">Login</button>
                <div class="reset_password"><a href="password-reset">Reset password</a></div>
            </form>
        </div>
        {% include 'tasks/templates_helpers/error_messages.html' %}
    {% endblock %}
{% endif %}
